@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #070713;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #070713;
  }
}

body {
  font-family: Inspire;
  src: url(https://static-assets.bamgrid.com/fonts/inspire/Inspire-Bold.4ff15ddc93445342649194969715b0b5.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  color: #f9f9f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
